*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* UT */
.btn-style{
	color:#b1b1b1;
	font-size: 25px;
}
.mrr-10{
	margin-right: 10px;
}


body{
	height: 100vh;
	background-image: linear-gradient(to bottom,#32a093 0%,#32a093 18%,#dfe0d9 18%,#dfe0d9 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 80%;
	min-width: 900px;
	height: 95%;
	background-color: #fff;
	display: flex;
}
.left-bar{
	width: 35%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #b1b1b1;

}

.profile{
	display: flex;
	align-items: center;
	background-color: #eaeaea;
	padding: 10px;
}

.user-img {
	height: 50px;
	width: 50px;
	border-radius: 50px;

}
.user-name{
	flex-grow: 1;
}

.left-bar .btn-style{
	margin: 0 10px;
}


.alert{
	background-color: #8edafc;
	padding: 15px 20px;
	display: flex;
	align-items: center;
}


.left-bar .alert__icon{
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	align-self: baseline;
	background-color: #f2fbff;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	color: #8edafc;

}

.alert__info{
	padding:0 10px;
}
.alert__info a{
	font-size: 14px;
	color:#4f7485	 ;
}

.search{
	display: flex;
	padding: 5px;
	background-color: #fafafa;
}
.search__btn{
	background-color: rgb(255, 255, 255);
	padding: 7px 30px;
	border: 1px solid #f5f5f5;
	color: #b6b9bb;
}

.search__input{
	flex-grow: 1;
	height: 35px;
	border: 1px solid #f5f5f5;
	background-color: rgb(255, 255, 255);
	
}

.message-input__input::placeholder,
.search__input::placeholder{
	text-indent: 5rem; /* ?????? */
	font-size: 14px;
	color: #a5a5a5;
 }


.contacts {
	display: flex;
	flex-direction: column;
	background-color: aqua;
	
	overflow: auto;
}
.contact{
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 10px 20px;
	border: 1px solid #f5f5f5;
}
.contact.active{
	background-color: rgb(189, 189, 189);
}

.contact .user-name{
	padding: 0 20px;
}







.right-bar{
	width: 65%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-image: url('../img/mine.jpg');
	background-size: 55%;

}

.contact-profile{
	display: flex;
	justify-content: space-between;
	background-color: #eaeaea;
	padding: 10px;
}
.contact-profile__user{
	display: flex;
	align-items: center;
}
.contact-profile__nav{
	display: flex;
	align-items: center;
}

  
.contact-profile__nav .btn-style{
	margin: 0 10px;
}
.display{
	flex-grow: 1;
	overflow: auto;
	padding: 50px 100px;
	width: 100%;
}
.display-wraper{
	display: flex;
	flex-direction: column;

	
}

.postMessage{
	align-self: flex-end;
	width: 45%;
	padding: 20px 15px;
	background-color: #d5f9ba;
	border-radius: 10px;
	position: relative;
	margin: 10px 0;
	
}
.almost{
	background-color: blue;
}
.receivedMessage{
	width: 45%;
	padding: 20px 15px;
	background-color: #ffffff;
	border-radius: 10px;
	position: relative;
	margin: 10px 0;
}
.date{
	font-size: 10px;
	color: #b6b9bb;
	position: absolute;
	right: 5px;
	bottom: 5px;

}



.message-input{
	display: flex;
	align-items: center;
	background-color: #f3eeea;
	padding: 10px 0;
}

 
.message-input__input{
	flex-grow: 1;
	height: 50px;
	border: none;
	border-radius: 10px;
}
.message-input-btn{
	padding: 0 35px;
	font-size: 25px;
	color: #6f7679;
}